.chips {
  padding: 4px 24px;
  background: #F4F4F4;
  border-radius: 18px;
  outline: none;
  border: 0;

  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #434343;
  cursor: pointer;
  letter-spacing: 0.2px;

  &:hover {
    background: #FB9155;
    color: #FFFFFF;
  }

  &.active {
    background: #EB6012;
    color: #FFFFFF;

    &:hover {
      background: #CB540F;
      color: #FFFFFF;
    }
  }
}
