.countrySlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 740px;
  width: 100%;
  font-family: 'Montserrat', serif;
  color: #FFFFFF;
  letter-spacing: 0.5px;

  .title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 51px;
    margin-bottom: 16px;
  }

  .line {
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, #FFFFFF 51.04%, rgba(255, 255, 255, 0.1) 100%);
    margin: 0 0 12px;
  }

  .text {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
  }

}
